# verify with: npm pack --dry-run

# raw source code
/src

# documentation / demo
docs

# Templates
/*.md
/.github

# tests
spec
samples

# git
/.git

# build
.travis.yml
lib/*.map
webpack.config.js

# debug
scripts

# run commands
.*rc
.*rc.js
